<p>Hello world</p>
<center>
    <h1>Anime list:</h1>
    {% for anime in anime_list %}
    {{ anime }}<br />

    {% endfor %}

    <h3>Hello!</h3>

    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.username.label}}
        {{ form.username() }}

        {{ form.email_id.label}}
        {{ form.email_id() }}


        <br />
        {{ form.submit() }}

        <br /><br /><br />
        <h3>Current users:</h3>
        <br />
        <table>
            {% for website_user in website_users %}
            <tr>
                <td>{{ website_user.id }}-{{website_user.name}}</a>-{{ website_user.email }}</td>
            </tr>
            {% endfor %}
        </table>


    </form>
</center>